<div class="container mt-4">
  <h2>Formulaire d'Ajout</h2>
  <form tcFirstLastValidator (ngSubmit)="onSubmitForm(creationColleagueForm)" #creationColleagueForm="ngForm">
    <div *ngIf="creationColleagueForm.errors">
      {{ creationColleagueForm.errors['firstLast'] | json }}
    </div>
    <div class="form-group">
      <label for="pseudo">Pseudo:</label>
      <input tcPseudoValidator id="pseudo" name="pseudo" type="text" class="form-control" [(ngModel)]="creationColleague.pseudo" name="pseudo" #pseudoLocal="ngModel" required>
      <p *ngIf="pseudoLocal.errors && pseudoLocal.dirty">
        le pseudo {{ pseudoLocal.value }} existe déjà!
      </p>
         </div>
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre nom" [(ngModel)]="creationColleague.first" #pseudoLocal="ngModel" required minlength="2">
    </div>
    <div class="form-group">
      <label for="prenom">Prénom:</label>
      <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez votre prénom" [(ngModel)]="creationColleague.last" #pseudoLocal="ngModel" required minlength="2">
    </div>
    <div class="form-group">
      <label for="photoUrl">URL de la Photo:</label>
      <input type="text" class="form-control" id="photoUrl" name="photoUrl" placeholder="Entrez l'URL de la photo" [(ngModel)]="creationColleague.photo" #pseudoLocal="ngModel" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Ajouter</button>
  </form>
</div>
